<!DOCTYPE html>
<html lang="en">
<head>
<title>Pagina Personala - PSE </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/OtiliaHanches/style.css">
</head>

<body>
{% block body %}
<div class="content">
            <div class="typing">
                <div class="typing-effect">
                    Pagina mea personală
                </div>
            </div>

          <!-- <h1>Pagina mea personală</h1>
          <h2>PABD 2 - pse</h2>
          <br> -->
          <br>
            <div class="polaroid">
                <p>Otilia Hanches</p>
                <img src="/OtiliaHanches/oti.png" />
            </div>
          
            <p>Universitatea 1 Decembrie Alba Iulia</p>
            <p>PABD 2</p>
          <h3>Hobby-uri</h3>
          <ul>
             <li> Pedagogia  </li>
             <li> Drumetiile </li>
             <li> Muzica   </li>
             <li> Voluntariatul </li>
            </ul>
            
            <h1> Despre mine </h1>
                <ul class="a"> 
                        <li>Nume si prenume: HANCHES OTILIA</li>
                        <li>Data nasterii: 11 august 1998</li>
                        <li>Adresa: Alba Iulia, jud.Alba, Romania </li>
                        <li>Tel: 07777777777</li>
                </ul>
                <br>
                <br>
                <br>

    </div>

<div class="bg">
    
</div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>




{% endblock %}
</body>
</html>