<!DOCTYPE html>
<html>
    <head>
        <title>Pagina Personala</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://use.fontawesome.com/d1341f9b7a.js"></script>
        <link rel="stylesheet" href="/AmaliaBako/style.css">
</head>

<body>
{% block body %}
    <div class="about-section">
        <div>
            <img src="/AmaliaBako/Amalia.png" alt="Imagine invalida" class="box-img">
        </div>
        
      <h1>Pagina Personala</h1>
      <h2>Universitatea "1 Decembrie 1918" Alba Iulia</h2>
      <hr> 
    </div>
    <br>
    <br>

<div class="row">


  <div class="column">
    <div class="card">
        
        <div class="container">
            <h2>Amalia Bako</h2>
            <p class="title">Masterand</p>
            <p> Am 24 de ani si sunt din Alba Iulia.</p>
            <p> In timpul liber imi place sa ma uit la seriale si sa citesc carti de fictiune. </p>
        </div>
    </div>
  </div>
  
    <div class="column">
        <div class="card">
            <div class="container">
                <h3>Descriere pe scurt</h3>
                <ul>
                    <li> Optimista</li>
                    <li> Comunicativa</li>
                    <li> Ambitioasa</li>
                    <li> Organizata</li>
                </ul>
            </div>
        </div>
  </div>


    <div class="column">
        <div class="card">
            <div class="container">
                <h1>Carti citite</h1>
                <ul class="a"> 
                    <li>SHOGUN, James Clavell</li>
                    <li>AME, Cathya M.P.</li>
                    <li>Oamenii fericiti citesc si beau cafea, Agnes Martin-Lugand</li>
                    <li>Fetele disparute din Paris, Pam Jenoff</li>  
                    <li>Trei etaje, Eshkol Nevo</li>    
                </ul>         
            </div>
        </div>
  </div>

</div>

{% endblock %}
</body>
</html>