<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="MihaiBaciu/css/style.css">
        
    </head>

    <body>
    
        <section class="bio">
  <img class="bio-avatar" src="MihaiBaciu/Image/Fish.jpg" width="150" />
  <h1 class="bio-name">Mihai Baciu</h1>
  <nav>
   
    <a class="bio-link" href="https://github.com/MihaiBaciu">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-112/github-mark.svg" width="30" >
    </a>
  </nav>
  <div>
    
      <p class="bio-description">
      Buna, ma numesc Mihai, am 36 de ani si locuiesc in Alba Iulia. Sunt masterand la Universitatea "1 Decembrie 1918" din Alba Iulia si activez in domeniu retelelor de calculatoare. </p>
      <ul class="bio-list">
        <li>Networking</li>
        <li>Cisco</li>
        <li>Rutare</li>
        <li>Protocoale</li>
        <li>VLAN</li>
      </ul>
    
  </div>
</section>
   
    </body>
</html>