<!DOCTYPE html>
<html>
    <head>
        <title>{{owner}}</title>
        <link rel="stylesheet" href="MunteanAlin/style.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="#acasa">Acasa</a></li>
                    <li><a href="#about">Despre mine</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
</style>
            <section id="acasa">
                <div class="section-inner">
                    <img src="MunteanAlin/imgs/Alin.jpg" class="profile-img">
                </div>
            </section>
            <section id="about">
                <div class="section-inner">
                    <h2>Despre mine</h2>
                    <p>Am varsta de {{age}} de ani, iar dupa finalizarea studiilor de licenta la Universitatea 1 Decembrie 1918, am inceput si studiile de master pana in prezent.  </p>
                    <p>Dupa multe locuri de munca din afara domniului de IT am reusit sa gasesc un job unde sa ma pot dezvolta ca programator, dar si ca persoana</p>
                    <h3>Cariera IT</h3>
                 <p>Sunt proaspat anagajat in domneiu, doar din noiembrie, dar incerc sa tin pasul cu task-urile primite si vreau sa evoulez cat mai mult.
                </div>
            </section>
            <section id="contact">
                <div class="section-inner">
                    <h2>Contact</h2>
                    <ul>
                        <li>mail:munteanalin98@gmail.com</li>
                        <li>github:https://github.com/MunteanAlin</li>
                    </ul>
                </div>
            </section>
        </main>
          <footer>
            	&copy; Muntean Alin
        </footer>
    </body>
</html>