<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CapilnasMatei/style.css">
    <title>Pagina lu' Matei</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">Mateiuț</div>
            <ul>
                <li>
                    <a href="#">Acasă</a>
                </li>
                <li>
                    <a href="#">Despre Mine</a>
                </li>
                <li>
                    <a href="#">Dă-mi un bip</a>
                </li>
            </ul>
        </div>
    </nav>

    <header class="header">
        <div class="container">
            <div>
                <h1>Blogul Lu' Matei</h1>
                <p>
                    Acesta este cel șmecher website din Romania, poate chiar din Univers. Aici se pot citi doar articole de calitate, cu un impact social imens și de o astfel natura încât cititorul o să regrete că a dat click.
                </p>
            </div>
            <img src="CapilnasMatei/img/eu.jpg" alt="">
        </div>
    </header>

    <section class="boxes">
        <div class="container">
            <div class="box">
                <h2>Știrile Momentului</h2>
                <p>Aici poți urmări live cele mai noi știri de pe o rază de 3 km</p>
            </div>

            <div class="box">
                <h2>Sfaturi în modă</h2>
                <p>Ultimele tendințe în modă, în fiecare joi și vineri de la ora 5 la ora 6</p>
            </div>

            <div class="box">
                <h2>Zona IT</h2>
                <p>Ultimele aparițe în materie de joace, tilifoane și orice care are cuvântul "smart" la începutul frazei</p>
            </div>
        </div>
    </section>
</body>
</html>